.btn-group.custom-filters
  button.btn.btn-default.disabled(type='button') Sort by
  button.btn.btn-primary(type='button', ng-click='$ctrl.sort({type: "views"})') Views
  button.btn.btn-primary(type='button', ng-click='$ctrl.sort({type: "datetaken"})') Date taken
  button.btn.btn-primary(type='button', ng-click='$ctrl.sort({type: "dateupload"})') Date uploaded
