a.btn.btn-primary(ui-sref='main') New search

p.gallery-subtitle Displaying pictures for:
  span Tag: {{gallery.tag}}
  span(ng-if='gallery.owner') User: {{gallery.owner}}

gallery-list(photos='gallery.photos')

gallery-pagination(
  ng-show='gallery.photos.length',
  pages='gallery.totalPages',
  current='gallery.currentPage',
  change='gallery.paginate(page)'
)
