nav.pagination-block(aria-label='Page navigation')
  ul.pagination
    li(ng-if='$ctrl.current > 2')
      a(ng-click='$ctrl.change({page: 1})')
        span &larr; First
    li(ng-if='$ctrl.current > 1')
      a(ng-click='$ctrl.change({page: $ctrl.current-1})') Previous
    li(ng-if='$ctrl.current < $ctrl.pages')
      a(ng-click='$ctrl.change({page: $ctrl.current+1})') Next
    li(ng-if='$ctrl.current < $ctrl.pages-1')
      a(ng-click='$ctrl.change({page: $ctrl.pages})') Last&nbsp
        span &rarr;

  p.pages-counter Page {{$ctrl.current}} of {{$ctrl.pages}}
