.row.search
  .col
    h5.search__title Type a tag or username to find a beautiful picture

    search-box(
      do-search='main.doSearch()',
      clear-errors='main.clearErrors()',
      search='main.search',
      error-message='main.errorMessage'
    )

    custom-filters(sort='main.sort(type)', ng-if='main.photos.length')

    .row
      .col-md-4.col-lg-3(ng-repeat='photo in main.photos')
        photo-card(
          data='photo',
          open-gallery='main.openGallery(data)'
        )
