.card.photo(ng-click='$ctrl.openGallery({data: $ctrl.data})')
  img.card-img-top.photo__img(ng-src='{{$ctrl.data.url_q}}')
  .card-body
    h4.card-title.photo__title {{$ctrl.data.tag}}
    .card-owner.photo__owner User: {{$ctrl.data.ownername}}
    .card-date.photo__date-taken Date taken: {{$ctrl.data.datetaken | mySQL2date}}
    .card-date.photo__date-uploaded Date uploaded: {{$ctrl.data.dateupload | ts2date}}
    .card-date.photo__views Views: {{$ctrl.data.views}}
