.alert.alert-danger(role='alert', ng-show='$ctrl.errorMessage') {{$ctrl.errorMessage}}

form.search-form.form-inline(ng-submit='$ctrl.doSearch()')
  .form-group
    input.col-md-4(
      type='text',
      ng-focus='$ctrl.clearErrors()',
      class='form-control',
      id='tag',
      placeholder='Enter tag',
      ng-model='$ctrl.search.tag'
    )
    input.col-md-5(
      type='text',
      ng-focus='$ctrl.clearErrors()',
      class='form-control',
      id='user_id',
      placeholder='Enter user ID (optional)',
      ng-model='$ctrl.search.userId'
    )
    button.col-md-2(type='submit', class='btn btn-primary') Search
