.main-content
  &__title
    padding 50px 0 20px

.alert
  margin 10px 0

.search-form
  input
    margin-right 10px

.custom-filters
    margin 10px 0 20px

.card
  margin-bottom 20px

  .card-body
    font-size 12px

.gallery-subtitle
  margin 20px 0
  font-weight 700

  > span
    display block

.pagination-block
  .pagination
    float right
    li
      display inline-block

      a
        cursor pointer
        color $blue
        padding 0 10px

  .pages-counter
    float left
