html
  head
    title Fashion Cloud Evaluation Project
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.min.css')

  body(ng-app="app")
    base(href="/")

    .container.main-content
      h1.main-content__title Fashion Cloud Evaluation Project
      ui-view

    script(src="/js/3rd.js")
    script(src="/js/app.js")
